@import '../../_scss/variables/mixins';

.plans-stepper{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: var(--purple1);
  color: var(--purple2);
  font-weight: 700;
  &__mobile{
    display: none;
  }
  .step-container {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-right: 16px;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      .stepper-checked {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--purple2);
        color: var(--white);
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
      }
      .stepper-non-checked {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid var(--gray3);
        color: var(--gray3);
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
      }
      .stepper-text {
        color: var(--neutra0);
        letter-spacing: 0.8px;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
      }
      .stepper-text-non-checked {
        color: var(--gray3);
        letter-spacing: 0.8px;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 300;
      }
  }
  }
}

/*Responsive Styles*/
@include tablet {
  .plans-stepper { 
    font-family: var(--lato-regular);
    font-size: 10px;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0.800000011920929px;
    text-align: left;
    background-color: transparent;
    border-bottom: 1px solid var(--neutral1);
    &__mobile{
      display: flex;
      width: 100%;
      padding: 0 10px 0 10px;
      align-items: center;
      .button-stepper{
        display: flex;
        min-width: 110px;
        align-items: center;
        .steps-text {
          color: var(--black1);
          width: 70px;
        }
      }
      .progress-bar {
        width: 100%;
        height: 6px;
        margin-left: 15px;
        background: var(--purple1);
        border-radius: 20px;
        overflow: hidden;
        &__span {
          display: block;
          background: var(--purple2);
          height: 6px;
          border-radius: 20px;
        }
      }
    }
    .step-container{ 
      &__content {
        display: none;
      }
      p {
        display: none;
      }
    }
  }
}